* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}
/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.btn {
    height: 56px;
    max-width: 214px;
    padding: 0 30px;
    background-color: transparent;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff5b2e;
}

.btn:hover {
    background-color: #ff5b2e;
    border-color: #ff5b2e;
    color: #fff;
}
/* Header */
.header {
    background-color: #fffaf5;
    padding: 26px 0 10px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar */
.navbar__list {
    display: flex;
    gap: 36px;
}

.navbar__link {
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0%;
    line-height: 14px;
    color: #5e6085;
    transition: 0.25s;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header__btn {
    width: 117px;
    height: 50px;
    border: 1px solid #000958;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 14px;
    letter-spacing: 0%;
    color: #000958;
    transition: 0.25s;
    cursor: pointer;
}

.header__btn:hover {
    color: #fff;
    background-color: #ff5b2e;
    border-color: #ff5b2e;
}

/* Hero */
.hero {
    padding: 90px 0 148px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hero__info {
    margin-top: 71px;
    max-width: 517px;
}

.hero__heading {
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 76px;
    letter-spacing: 0%;
    color: #000958;
}

.hero__desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 30px;
    letter-spacing: 0%;
    color: #656689;
    max-width: 391px;
    margin-top: 24px;
}

.hero__info--row {
    margin-top: 38px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.hero__btn {
    height: 60px;
    width: 189px;
    padding: 0 30px;
    background-color: #ff5b2e;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 0%;
    transition: 0.2s;
    cursor: pointer;
}

.hero__btn::after {
    content: ">";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    color: #ff5b2e;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -10px;
    font-weight: 300;
    font-size: 12px;
}

.hero__btn:hover {
    opacity: 0.8;
}

.hero__link {
    text-decoration: underline;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 0%;
    color: #000958;
}

.hero__imagine {
    max-width: 609px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.hero__cat--bg {
    z-index: 1;
    width: 388px;
    height: 488px;
    border: 3px solid #fff;
    background-color: #fe997b;
    border-radius: 16px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.hero__img1 {
    transition: 0.25s;
}

.hero__cat--bg:hover .hero__img1 {
    scale: 1.1;
}

.hero__dog--bg {
    z-index: 2;
    width: 186px;
    height: 244px;
    border: 2px solid #ffffffa6;
    background-color: #faa7ad;
    border-radius: 16px;
    position: relative;
    display: flex;
    align-items: flex-end;
    bottom: -58px;
    right: 23px;
    overflow: hidden;
}

.hero__img2 {
    transition: 0.25s;
}

.hero__dog--bg:hover .hero__img2 {
    scale: 1.1;
}

.hero-pet__info {
    width: 250px;
    height: 156px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    z-index: 3;
    left: 129px;
    bottom: -94px;
}

.hero-pet__item {
    margin: 20px 14px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.hero-pet__desc1 {
    width: 118px;
    height: 4px;
    background-color: #000958;
    opacity: 8%;
    margin-top: 7px;
}

.hero-pet__desc2 {
    width: 39px;
    height: 4px;
    background-color: #000958;
    opacity: 8%;
    margin-top: 6px;
}

.hero-pet__line {
    width: 222px;
    height: 1px;
    background-color: #f2f2f2;
    margin-left: 14px;
}

.hero-pet__heading {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0%;
    color: #181e52;
}

.hero__gradient-1 {
    position: absolute;
    left: 375px;
    top: 125px;
}

.hero__gradient-2 {
    position: absolute;
    bottom: 160px;
    left: -60px;
}

/* About */
.about {
    padding-bottom: 53px;
    background-color: #fffaf5;
}

.about__body {
    display: flex;
    justify-content: space-between;
}

.about__info {
    max-width: 477px;
    margin-top: 130px;
}

.about__title {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #5e6085;
}

.about__heading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 62px;
    color: #000958;
    margin-top: 15px;
}

.about__desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 30px;
    color: #656689;
    margin-top: 24px;
    margin-bottom: 54px;
}

.about__row {
    display: grid;
    grid-template-columns: 223px 223px;
    gap: 34px;
}

.about__info-checked {
    position: relative;
    font-weight: 500;
    font-size: 1.8rem;
    color: #48496a;
    display: flex;
    align-items: center;
}

.about__info-checked::before {
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 4px;
    background-color: #ff5d31;
    box-shadow: 0px 4px 15px -3px #ff5d31b0;
    margin-right: 10px;
}

.about__info-checked::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 10px;
    height: 5px;
    left: 5px;
    top: 7px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    rotate: -45deg;
    border-radius: 2px;
}

.about__image {
    position: relative;
    max-width: 636.7px;
}

.about__image-bg {
    width: 494px;
    height: 336px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px #ff9b791f;
    display: flex;
    align-items: flex-end;
    margin-top: 276px;
    border-radius: 16px;
    transition: 0.25s;
}

.about__image-bg:hover {
    scale: 1.1;
}

.about__exp {
    position: absolute;
    width: 136px;
    height: 156px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px #55f0ff2b;
    text-align: center;
    border-radius: 10px;
    top: 220px;
    left: -92px;
}

.pet-foot {
    position: absolute;
    top: -40px;
    right: -32px;
}

.about__exp-year {
    margin-top: 31px;
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    color: #fff;
}

.about__exp-desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 20px;
    text-align: center;
    color: #c6f4f9;
    max-width: 83px;
    margin: 10px auto 0px;
}

.about__img2 {
    position: absolute;
    right: -50.6px;
    bottom: 307px;
}

/* Rent */
.rent {
    padding: 93px 0 152px;
    background-color: #fffaf5;
}

.rent__body {
    display: flex;
    justify-content: space-between;
}

.rent__info {
    max-width: 47.7%;
    margin-top: 36px;
}

.rent__img-bg {
    position: relative;
    width: 458px;
    height: 500px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border: 2px solid #ffffff;
    border-radius: 18px;
    box-shadow: 0px 17px 77px -8px #bea58b2b;
}

.rent__img-deco1,
.rent__img-deco2,
.rent__img-deco3,
.rent__img-deco4,
.rent__img-deco5,
.rent__img-deco6 {
    position: absolute;
}
.rent__img-deco1 {
    top: 12.5px;
    right: 63.16px;
}

.rent__img-deco2 {
    top: -16px;
    right: 13px;
}

.rent__img-deco3 {
    top: 33px;
    right: -21px;
}

.rent__img-deco4 {
    right: -33px;
    top: 268px;
}

.rent__img-deco5 {
    right: 19px;
    bottom: 150px;
}

.rent__img-deco6 {
    bottom: -54.58px;
    right: -42px;
}

.rent__heading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 62px;
    color: #000958;
}

.rent__desc {
    max-width: 91.7%;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 30px;
    color: #656689;
    margin-top: 24px;
}

.rent__row {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
}

.rent__type {
    font-weight: 600;
    font-size: 1.8rem;
    color: #48496a;
    display: flex;
    align-items: center;
}

.rent__type:first-child::before {
    content: url(../img/rent__type1.svg);
    position: relative;
    top: 3px;
}

.rent__type:nth-of-type(2)::before {
    content: url(../img/rent__type2.svg);
    height: 20px;
    margin-right: 10px;
}

.rent__type:last-child::before {
    content: url(../img/rent__type3.svg);
    margin-right: 10px;
}

.rent__line {
    width: 557px;
    border: 2px solid #ff5b2e;
    opacity: 7%;
    margin-bottom: 36px;
}

.rent__type-active {
    position: relative;
}

.rent__type-active::after {
    content: "";
    position: absolute;
    border: 2px solid #ff5b2e;
    width: 95px;
    bottom: -5px;
    border-radius: 2px;
}

.rent__sub-desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 24px;
    color: #656689;
    max-width: 70.2%;
    margin-bottom: 32px;
}

.rent__more {
    text-decoration: underline;
    color: #ff5d31;
    font-weight: 500;
    font-size: 1.6rem;
}

/* Service */
.service {
    padding: 68px 0 100px;
    background-color: #fff6ed;
}

.service__question {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #5e6085;
}

.service__heading {
    font-weight: 700;
    font-size: 5.2rem;
    text-align: center;
    color: #000958;
    margin-top: 15px;
}

.service__column {
    margin-top: 71px;
    display: flex;
    justify-content: space-between;
}

.service__item {
    width: 294px;
    height: 208px;
    background-color: #ffffff;
    border: 2px solid #ffbc7a42;
    border-radius: 10px;
    margin-bottom: 24px;
}

.service__content {
    padding: 30px 28px;
}

.service__item--heading {
    font-weight: 600;
    font-size: 2.2rem;
    color: #000958;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.service__item--heading::before {
    content: "";
    display: inline-block;
    height: 22px;
    margin-right: 12px;
    border: 1px solid #ff5b2e;
}

.service__item--desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 24px;
    color: #656689;
    margin-top: 18px;
}

.service__item--link {
    display: inline-block;
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #34396a;
    margin-top: 24px;
    display: flex;
    align-items: baseline;
}

.service__item--link::after {
    content: url(../img/service__link-arrow.svg);
    margin-left: 6px;
}

.service__img-bg {
    width: 410px;
    height: 350px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    border-radius: 10px;
    margin-top: 260px;
    display: flex;
    align-items: flex-end;
}

.service__btn {
    margin: 45px auto 0px;
    font-weight: 500;
    font-size: 1.6rem;
    cursor: pointer;
}

/* Staff */
.staff {
    padding: 130px 0;
    background-color: #fffaf5;
}

.staff__title {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #5e6085;
}

.staff__heading {
    font-weight: 700;
    font-size: 52px;
    color: #000958;
    text-align: center;
    margin-top: 15px;
}

.staff__row {
    margin-top: 78px;
}

.staff__list {
    display: flex;
    justify-content: space-between;
}

.staff__member--bg {
    width: 234px;
    height: 266px;
    border-radius: 129.5px;
    transition: 0.5s;
}

.staff__member--bg:has([alt="Meghan Samit"]) {
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
    display: flex;
    align-items: flex-end;
    position: relative;
}

.staff__member--bg:has([alt="Meghan Samit"])::after {
    content: url(../img/deco1.svg);
    position: absolute;
    left: -18px;
}

.staff__member--bg:has([alt="Alissa Silva"]) {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
    display: flex;
    align-items: flex-end;
    position: relative;
}

.staff__member--bg:has([alt="Alissa Silva"])::before {
    content: url(../img/deco2.svg);
    position: absolute;
    left: -18px;
    top: 0px;
}

.staff__member--bg:has([alt="Cindy Harris"]) {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
    display: flex;
    align-items: flex-end;
    position: relative;
}

.staff__member--bg:has([alt="Cindy Harris"])::after {
    content: url(../img/deco3.svg);
    position: absolute;
    left: -18px;
}

.staff__member--bg:has([alt="Lucas Tony"]) {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
    display: flex;
    align-items: flex-end;
    position: relative;
}

.staff__member--bg:has([alt="Lucas Tony"])::before {
    content: url(../img/deco4.svg);
    position: absolute;
    left: -18px;
    top: 0px;
}

.staff__member:hover .staff__member--bg {
    scale: 1.2;
    top: -30px;
}

.staff__img {
    border-radius: 129.5px;
}

.staff__role {
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    color: #656689;
    margin-top: 34px;
}

.staff__name {
    display: block;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    text-align: center;
    color: #000958;
    margin-top: 14px;
}

.staff__btn {
    margin: 48px auto 0;
}

/* Choice */
.choice {
    padding: 86px 0;
    background-color: #fff6ed;
}

.choice__heading {
    font-weight: 700;
    font-size: 5.2rem;
    text-align: center;
    color: #000958;
}

.choice__desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 30px;
    text-align: center;
    color: #656689;
    max-width: 709px;
    margin: 24px auto 38px;
}

.choice__option {
    position: relative;
    width: 276px;
    height: 56px;
    margin: 0 auto;
    background-color: transparent;
    border: 1px solid #ff5b2e;
    border-radius: 31px;
    color: #ff5b2e;
    padding: 20px 0 20px 40px;
    font-weight: 500;
    font-size: 1.6rem;
}

.choice__option::before {
    position: absolute;
    content: "Yearly";
    display: inline-block;
    width: 131px;
    height: 56px;
    background-color: #ff5b2e;
    border-radius: 31px;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -1px;
    top: -1px;
}

.choice__option::after {
    content: url(../img/save15.svg);
    position: absolute;
    right: -110.6px;
    bottom: 25px;
}

.choice__list {
    display: flex;
    margin-top: 56px;
    gap: 44px;
    justify-content: center;
}

.choice__item {
    width: 302px;
    height: 465px;
    box-shadow: 0px 20px 44px 0px #c36c160f;
    background-color: #fff;
    border-radius: 20px;
}

.choice__item--content {
    padding: 30px 28px;
}

.choice__item-title {
    font-weight: 400;
    font-size: 12px;
    color: #ff5b2e;
}

.choice__item-heading {
    font-weight: 600;
    font-size: 1.8rem;
    color: #3f4065;
    margin-top: 8px;
}

.choice__cost {
    display: inline-block;
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 34px;
    color: #000958;
    margin-top: 24px;
}

.choice__cta {
    height: 44px;
    min-width: 246px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 22px;
}

.choice__adv-item {
    font-weight: 400;
    font-size: 1.4rem;
    color: #656689;
}

.choice__adv-item:first-child {
    margin-top: 24px;
}

.choice__adv-item:not(:first-child) {
    margin-top: 18px;
}

.choice__adv-item::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 10px;
    height: 5px;
    border-left: 1.5px solid #ff5b2e;
    border-bottom: 1.5px solid #ff5b2e;
    rotate: -45deg;
    border-radius: 2px;
    margin-right: 12px;
    top: -3px;
}

/* Review */
.review {
    padding: 130px 0;
    background-color: #fffaf5;
}

.review__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review__info {
    max-width: 47.27%;
}

.review__heading {
    font-weight: 700;
    font-size: 5.2rem;
    color: #000958;
}

.review__desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 28px;
    color: #000000;
    margin-top: 24px;
}

.review__name {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #282828;
    margin-top: 34px;
}

.review__name:before {
    content: "";
    display: inline-block;
    position: relative;
    width: 20px;
    height: 2px;
    background-color: #000000;
    margin-right: 8px;
    top: -5px;
}

.review__bg {
    height: 350px;
    width: 274px;
    background-color: #ffda54;
    border-radius: 137px;
    display: flex;
    align-items: flex-end;
}

.review__img {
    border-radius: 137px;
}

.review__cta {
    color: #ff5b2e;
    height: 54px;
    width: 54px;
    border-radius: 50%;
    border: 1.5px solid #ffd1c4;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
}

.review__cta:last-child {
    rotate: 180deg;
}

.review__cta:hover {
    background-color: #ff5b2e;
    box-shadow: 0px 5px 27px 0px #ff5b2e4d;
    color: #ffffff;
    border-color: #ff5b2e;
}

.review__page {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 56px;
}

.review__line {
    width: 24px;
    height: 8px;
    border-radius: 4px;
    background-color: #ff5b2e;
}

.review__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #ff5b2e;
    transition: 0.25s;
}

.review__dot:hover {
    background-color: #ff5b2e;
}
